body {
    max-width: 1000px;
    margin: 30px auto;
    padding: 0 5%;
    font-family: Arial, Helvetica, sans-serif;
}

.header {
    display: flex;
    flex-direction: column;
}

h1,
h2,
h4 {
    margin: 5px;
}

.configurator {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.parameters {
    position: relative;
    display: flex;
    column-gap: 70px;
    margin-bottom: 30px;
}

.parameters::before {
    content: "";
    position: absolute;
    right: 1%;
    left: 10%;
    bottom: 8px;
    height: 2px;
    background: rgb(223, 228, 232);
}



.engine,
.color,
.interior,
.wheels,
.options {
    position: relative;
    border: none;
    background: none;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 15px;


    font-size: 16px;
    color: rgb(0, 30, 80);
}

.engine__button-area,
.color__button-area,
.interior__button-area,
.wheels__button-area,
.options__button-area {
    padding: 0px 24px;
    display: inline-block;
    background: rgb(255, 255, 255);
}

#engineButton,
#colorButton,
#interiorButton,
#wheelsButton,
#optionsButton {
    width: 16px;
    height: 16px;
    border-radius: 50%;
}

.parameters__button {
    background-color: rgb(0, 30, 80);
    color: rgb(0, 30, 80);
}

.parameters__button-checked {
    background-color: green;
    color: white;
}

.car {
    margin-top: 40px;
    display: flex;
    justify-content: center;
}

.spec {
    margin-top: 30px;
    border: 2px solid rgb(0, 30, 80);
    min-width: 700px;
}

.spec__container {
    padding: 10px;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}

.spec__title {
    font-size: 24px;
    font-weight: bold;
}

.spec__car,
.spec__option,
.spec__total-price {
    display: flex;
    justify-content: space-between;
}

.spec__total-price {
    border-top: 1px solid rgb(223, 228, 232);
    padding-top: 10px;
}

.engineForm__select {
    margin-bottom: 10px;
}

.active {
    display: block;
}

.hide {
    display: none;
}

/* engineForm__radio */
.engineForm__radio {
    display: flex;
}

.engineForm_radio_btn {
    margin-right: 10px;
}

.engineForm_radio_btn input[type=radio] {
    display: none;
}

.engineForm_radio_btn label {
    display: inline-block;
    cursor: pointer;
    padding: 0px 15px;
    line-height: 34px;
    border: 1px solid #999;
    border-radius: 6px;
    user-select: none;
}

/* Checked */
.engineForm_radio_btn input[type=radio]:checked+label {
    border: 2px solid rgb(0, 30, 80);
}

.engine__specifications {
    display: grid;
    grid-template-rows: repeat(70px, 70px, 50px);
}

.engine__title-price,
.acceleration {
    border-bottom: 1px solid rgba(94, 89, 89, 0.5);
}

.engine__price {
    font-weight: bold;
}

.engine__title-price,
.acceleration,
.consumption {
    display: flex;
    min-width: 250px;
    justify-content: space-between;
}

/* engineForm__radio END*/

/* colorForm__radio */
.colorForm__radio {
    display: flex;
}

.color__specifications {
    padding-top: 5px;
    display: flex;
    column-gap: 10px;
}

.color-img {
    width: 58px;
    height: 58px;
    border-radius: 50%;
    overflow: hidden;
}

.color__price {
    font-weight: bold;
}

.colorForm_radio_btn {
    margin-right: 10px;
}

.colorForm_radio_btn input[type=radio] {
    display: none;
}

.colorForm_radio_btn label {
    display: inline-block;
    cursor: pointer;
    padding: 0px 15px;
    line-height: 34px;
    border: 1px solid #999;
    border-radius: 6px;
    user-select: none;
}

/* Checked */
.colorForm_radio_btn input[type=radio]:checked+label {
    border: 2px solid rgb(0, 30, 80);
}

/* colorForm__radio END*/




/* interiorForm__radio */
.interiorForm__radio {
    display: flex;
}

.interior__specifications {
    padding-top: 5px;
    display: flex;
    column-gap: 10px;
}

.interior-img {
    width: 58px;
    height: 58px;
    border-radius: 50%;
    overflow: hidden;
}

.interior__price {
    font-weight: bold;
}

.interiorForm_radio_btn {
    margin-right: 10px;
}

.interiorForm_radio_btn input[type=radio] {
    display: none;
}

.interiorForm_radio_btn label {
    display: inline-block;
    cursor: pointer;
    padding: 0px 15px;
    line-height: 34px;
    border: 1px solid #999;
    border-radius: 6px;
    user-select: none;
}

/* Checked */
.interiorForm_radio_btn input[type=radio]:checked+label {
    border: 2px solid rgb(0, 30, 80);
}

/* interiorForm__radio END*/

/* wheelsForm__radio */
.wheelsForm__radio {
    display: flex;
}

.wheels__specifications {
    padding-top: 5px;
    display: flex;
    column-gap: 10px;
}

.wheels-img {
    width: 58px;
    height: 58px;
    border-radius: 50%;
    overflow: hidden;
}

.wheels__price {
    font-weight: bold;
}

.wheelsForm_radio_btn {
    margin-right: 10px;
}

.wheelsForm_radio_btn input[type=radio] {
    display: none;
}

.wheelsForm_radio_btn label {
    display: inline-block;
    cursor: pointer;
    padding: 0px 15px;
    line-height: 34px;
    border: 1px solid #999;
    border-radius: 6px;
    user-select: none;
}

/* Checked */
.wheelsForm_radio_btn input[type=radio]:checked+label {
    border: 2px solid rgb(0, 30, 80);
}

/* wheelsForm__radio END*/

.options__container {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

.optionsCheckbox {
    display: flex;
    border: 1px solid #999;
    padding: 5px;
    cursor: pointer;
}

.options__text {
    display: flex;
    justify-content: space-between;
    column-gap: 40px;
    min-width: 500px;
}

.options__price {
    font-weight: bold;
}